################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Solutech.ToUpper
/ToUpper/bin/Debug/netcoreapp3.1
/ToUpper/obj
/ToUpper_v2/bin/Debug/netcoreapp3.1
/ToUpper_v2/obj
